apiVersion: apps/v1
kind: Deployment
metadata:
  name: loadtest-host
  labels:
    app: loadtest-host
spec:
  replicas: 1
  selector:
    matchLabels:
      app: loadtest-host
  template:
    metadata:
      labels:
        app: loadtest-host
    spec:
      containers:
      - name: loadtest-host
        image: kagenopriest/loadtest-host:1.2.1
        imagePullPolicy: Always
        ports:
        - containerPort: 8080
        resources:
          requests:
            cpu: "250m"
            memory: "256Mi"
          limits:
            cpu: "1000m"
            memory: "1Gi"
---
apiVersion: v1
kind: Service
metadata:
  name: loadtest-host-service
spec:
  type: NodePort
  selector:
    app: loadtest-host
  ports:
    - protocol: TCP
      port: 80
      targetPort: 8080
      nodePort: 30080
